/* Display Heading 스타일 */
.display-heading {
  font-weight: 200;
  font-size: 112px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary-home);
  gap: var(--spacing-4);

  b {
    font-weight: 700;
  }

  img {
    width: 48px;
  }

  @media screen and (max-width: 768px) {
    font-size: 64px;
    gap: var(--spacing-4);

    img {
      width: 36px;
    }
  }
}

/* Section Heading 스타일 */
.section-heading {
  font-weight: 200;
  font-size: var(--font-size-h2);
  line-height: var(--leading-tight);
  color: var(--color-text-primary-home);
  gap: var(--spacing-4);
  text-align: center;
  word-break: keep-all;

  b {
    font-weight: 700;
  }

  /* 하단 서브 제목 */
  p {
    color: var(--color-text-secondary);
    font-size: var(--font-size-3xl);
    line-height: var(--leading-tight);
  }

  /* 상단 서브 제목 */
  .heading-summary {
    font-weight: 300;
    font-size: var(--font-size-xl);
    color: var(--color-text-primary-frontend-light);
    letter-spacing: 0.3em;
  }

  @media screen and (max-width: 768px) {
    font-size: 48px;
    gap: var(--spacing-4);

    p {
      font-size: var(--font-size-xl);
    }
  }
}
