.header-link {
  font-size: var(--font-size-md);
  color: var(--color-anchor-text);
  font-weight: 600;

  &:hover {
    color: var(--color-anchor-hover);
  }
}

.link {
  width: fit-content;
  font-weight: 600;
  font-size: var(--font-size-);
  color: var(--color-anchor-text);
  gap: var(--spacing-1);
  line-height: 1;
  word-break: keep-all;

  .icon-arrow-right {
    width: 16px;
    transition: all 0.5s ease;
  }

  &:hover {
    color: var(--color-anchor-hover);

    .icon-arrow-right {
      transform: translateX(12px);
    }
  }
}
