body {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
  font-family: "pretendard";
  color: var(--color-text-secondary);

  img {
    user-select: none;
  }
}

/* header 섹션 */
header {
  background-color: var(--color-blue-100);
  position: sticky;
  top: 0;
  padding: 0 var(--spacing-4);

  .inner-header {
    max-width: 1200px;
    height: 72px;
    margin: 0 auto;
    gap: var(--spacing-4);

    h1 img {
      max-width: 180px;
      width: 100%;
    }

    .gnb {
      ul {
        gap: var(--spacing-4);
      }

      .hamburger-btn {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      height: 60px;

      h1 img {
        max-width: 140px;
        width: 100%;
      }

      .gnb {
        ul {
          display: none;
        }

        .hamburger-btn {
          display: block;
        }
      }
    }
  }
}

/* 푸터 섹션 */
footer {
  padding: var(--spacing-9) var(--spacing-4);

  .inner-footer {
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
  }

  .container {
    gap: var(--spacing-7);

    .footer-nav {
      font-weight: 500;

      ul {
        gap: var(--spacing-2);
      }
    }

    address {
      font-weight: 300;

      ul {
        gap: var(--spacing-3);
      }
    }

    small {
      font-weight: 300;
      font-size: 14px;
    }
  }

  .sns-nav > ul {
    gap: var(--spacing-2);
  }

  @media screen and (max-width: 768px) {
    padding: var(--spacing-7) var(--spacing-4);

    .inner-footer {
      flex-direction: column-reverse;
      gap: var(--spacing-6);
    }

    .container {
      font-size: 14px;
    }
  }
}
